name: Reusable workflow to create release in GitHub

on:
  workflow_call:
    inputs:
      version_to_publish:
        type: string
        required: true
        description: 'Version to be published'
      tag_to_publish:
        type: string
        required: false
        description: 'Tag name to be published'

permissions:
  contents: write
  actions: write

jobs:
  release:
    # if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5

      - name: Retrieve Previous Tag Before Creating New Tag
        id: get_previous_tag
        run: |
          git fetch --tags
          # Get the last tag from the list of tags sorted by creation date
          LATEST_TAG=$(git tag --sort=creatordate | tail -n1)
          echo "The latest tag based on creation date is $LATEST_TAG"
          echo "fromTag=$LATEST_TAG" >> $GITHUB_ENV

      - name: Tag and Push
        id: tag_and_push
        run: |
          VERSION=${{ inputs.version_to_publish }}
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git tag -a v$VERSION -m "Release v$VERSION"
          git push origin v$VERSION
          echo "toTag=v$VERSION" >> $GITHUB_ENV
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Changelog
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        uses: mikepenz/action-gh-release@v0.2.0-a03 #softprops/action-gh-release
        with:
          tag_name: v${{ inputs.version_to_publish }}
          name: '${{ inputs.tag_to_publish }} v${{ inputs.version_to_publish }}'
          body: ${{ steps.build_changelog.outputs.changelog }}
